<launch>
	<node name="sharp_node" pkg="jus_fall" type="sharp_publisher.py"/>
	<node name="sharp_reader" pkg="jus_fall" type="sharp_subscriber.py" output="screen"/>
	<node name="servoL" pkg="jus_fall" type="servoL.py" output="screen"/>
	<node name="servoR" pkg="jus_fall" type="servoR.py" output="screen"/>
	<node name="control" pkg="jus_fall" type="do_not_fall_nor_crash.py"/>
</launch>
